.leaflet-popup-content-wrapper {
    background-color: #e2edf0;
    border-radius: 5px;
}

.leaflet-popup-tip {
    background-color: #e2edf0;
}

.leaflet-container {
    height: 500px;
    text-align: center;
}

.leaflet-container img.flag {
    display: block;
    width: 100px;
    margin: 20px auto 10px;
}

.leaflet-container hr {
    border: 1px dotted #666;
}

.leaflet-container h3 {
    text-transform: uppercase;
    margin: 10px 0 3px;
    text-align: center;
    background-color: white;
}

.leaflet-container p {
    margin: 3px 0;
}