body {
  background-color: #f2efe9;
}

.App {
  text-align: center;
}

.blue {
  color: #2b82cb;
}

.orange {
  color: orange;
}

.red {
  color: #ff3131;
}

.green {
  color: #20b520;
}

.graficoRosca {
  width: 30%;
  float: left;
  padding: 20px;
}

.graficoLinha {
  width: 60%;
  float: left;
  padding: 20px;
}

@media(max-width: 904px) {
  .graficoLinha {
    width: 100%;
    float: none;
    padding: 0;
  }
  .graficoLinha canvas {
    width: 80% !important;
    margin: 30px auto;
  }
  .graficoRosca {
    width: 100%;
    float: none;
    padding: 0;
  }
  .graficoRosca canvas {
    width: 60% !important;
    margin: 30px auto 50px;
  }
}

@media (max-width: 559px) {
  .graficoLinha canvas, .graficoRosca canvas {
    width: 90% !important;
  }
}
