body {
  background-color: #f2efe9;
}

.App {
  text-align: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  color: #2b82cb;
}

.orange {
  color: orange;
}

.red {
  color: #ff3131;
}

.green {
  color: #20b520;
}

.graficoRosca {
  width: 30%;
  float: left;
  padding: 20px;
  margin: 50px 0;
}

.graficoLinha {
  width: 60%;
  float: left;
  padding: 20px;
  margin: 50px 0;
}

.rodape {
  color: #ddeaff;
  background-color: #1e4d6f;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
}

.rodape p {
  padding: 0 20px;
}

.rodape a {
  color: #ddeaff;
  text-decoration: none;
}

.rodape a:hover {
  color: #fff;
}

@media(max-width: 904px) {
  .graficoLinha {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 35px;
  }
  .graficoLinha canvas {
    width: 80% !important;
    margin: 30px auto;
  }
  .graficoRosca {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 65px;
  }
  .graficoRosca canvas {
    width: 60% !important;
    margin: 30px auto 50px;
  }
}

@media (max-width: 559px) {
  .graficoLinha canvas, .graficoRosca canvas {
    width: 90% !important;
  }
}
